:root {
  --var-bg: #282828;
  --var-red: #fb4934;
  --var-green: #b8bb26;
  --var-yellow: #fabd2f;
  --var-blue: #83a598;
  --var-purple: #d3869b;
  --var-aqua: #8ec07c;
  --var-fg: #ebdbb2;
  --var-orange: #fe8019;
  --var-gray: #928374;
}

body {
  margin: 0;
  font-family: monospace;
  font-size: 18px;
  background-color: var(--var-bg);
  color: var(--var-fg);

}

hr {
  background-color: transparent;
  border: solid 1px var(--var-fg);
  opacity: 5%;
  margin: 2em 0;
}

header,
#content {
  padding: 1em;
}


form label {
  display: block;
}

.library {
  display: flex;
  flex-direction: row;
}

.library .sidebar {
  display: flex;
  flex-direction: column;
  align-items: 0;
  flex-shrink: 0;

  padding: 1em;
}

.library .document {
  flex-grow: 1;
}


label {
  display: block;
  padding-bottom: 0;

}

input,
textarea {
  display: block;
  outline: none;
  border: none;
  padding: 4px;
  background-color: var(--var-gray);
  font-size: 1rem;
  color: var(--var-fg);
}

button {
  font-size: 1em;
  background-color: transparent;
  color: var(--var-green);
  padding: .2em .8em;
  outline: none;
  border: solid 2px var(--var-green);
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--var-green);
  color: var(--var-bg);
}

input+button,
button+button,
label+button,
a+button {
  margin-left: 1em;
}

a {
  color: var(--var-yellow);
}

a:hover {
  background-color: var(--var-yellow);
  color: var(--var-bg);
  text-decoration: none;
}


#alerts {
  position: fixed;
  bottom: 12px;
  left: calc(100% + 24px);
  padding: 1em;
  box-shadow: 0px 0px 12px rgba(20, 20, 20, .2);
  border-radius: 6px;

  animation-name: alert-appear-disappear;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes alert-appear-disappear {
  0% {
    transform: translate(0%, 0%);
  }

  5% {
    transform: translate(-100%, 0%);
  }


  90% {
    transform: translate(-100%, 0%);
    opacity: 1;
  }

  95% {
    opacity: 0;
    transform: translate(-100%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
    opacity: 0;
  }
}

section,
.ptop {
  padding-top: 1em;
}

.mtop {
  margin-top: 1em;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}